@mixin tokens {
  --palette-white: #fff;
  --palette-black: #222;

  --palette-white-100: #e5eef5;
  --palette-white-200: #f6fafd;

  --palette-gray: #444;
  --palette-gray-light-100: #676778;
  --palette-gray-light-200: #7b7766;

  --palette-flash: #40b3ff;
  --palette-highlight: #ffff82;

  --munity-color-1: #434c78;
  --munity-color-2: #515a88;
  --munity-color-text: #8993c9;
  --munity-primary-color: #a468dd;
  --munity-secondary-color: #13c8ff;
}
