<script>
  import { Panel } from '~/panel';
</script>

<Panel>
  <h1>Munity image to show</h1>
  <img src="https://uploads-ssl.webflow.com/602e9b5b3396248121b06858/629f8739eced5a8298f895da_illustration1.svg">
</Panel>

<style>
  img {
    width: 100%;
  }
</style>