<script>
  export let placeholder;
  export let password;
  export let value;
  export let disabled;
</script>

<input on:change disabled={disabled} bind:value={value} placeholder={placeholder}/>

<style lang="scss">
  @use "../../theme/src/theme";
  @include theme.default(true);

  input {
    /* background-color: var(--munity-color-1); */
    /* color: var(--palette-white); */
    border: var(--border-none);
    padding: 0 25px;
    border-radius: var(--rounded-basic);
    width: calc(100% - 50px);
    height: 70px;
    font-size: 16px;
    letter-spacing: 0px;
    background-color: var(--munity-color-2);
    color: var(--palette-white);

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--munity-color-text);
    }

    &[disabled],
    &[disabled]:hover,
    &[disabled]:active {
      opacity: var(--opacity-disabled);
      cursor: not-allowed;
    }
  }
</style>