<script>
  export let primary;
  export let secondary;
</script>

<button on:click class:primary class:secondary {...$$restProps}>
  <slot>Button</slot>
</button>

<style lang="scss">
  @use "../../theme/src/theme";
  @include theme.default(true);

  button {
    user-select: none;
    background-color: var(--munity-color-1);
    color: var(--palette-white);
    border: var(--border-none);
    padding: var(--spacing-base);
    border-radius: var(--rounded-basic);
    width: 100%;
    height: 45px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 16px;
    letter-spacing: 0px;
    background-position: center;
    transition: filter 0.5s;

    &.primary {
      background-color: var(--colors-primary);
      color: var(--colors-text-on-primary);
    }

    &.secondary {
      background-color: var(--colors-secondary);
      color: var(--colors-text-on-secondary);
    }

    &:hover {
      filter: brightness(1.5);
      cursor: pointer;

      &:active {
        transition: filter 0s;
        filter: brightness(2);
      }

      &.primary {
        filter: brightness(1.2);

        &:active {
          transition: filter 0s;
          filter: brightness(1.4);
        }
      }

      &.secondary {
        filter: brightness(1.1);

        &:active {
          transition: filter 0s;
          filter: brightness(1.2);
        }
      }
    }

    &[disabled],
    &[disabled]:hover,
    &[disabled]:active {
      filter: none;
      opacity: var(--opacity-disabled);
      cursor: not-allowed;
    }
  }
</style>