<script>
  import { fade, draw, fly } from 'svelte/transition';
  import { onMount } from 'svelte';

  let ready = false;
  onMount(() => ready = true);
</script>

{#if ready}
<div transition:fade>
  <slot></slot>
</div>
{/if}

<style lang="scss">
  @use "../../theme/src/theme";
  @include theme.default(true);

  div {
    background-color: var(--munity-color-1);
    padding: 50px 40px 40px 40px;
    border-radius: var(--rounded-panel);
    color: var(--palette-white)
  }
</style>